<!DOCTYPE html>
<html>
<head>
    <title>Emergency Prescription Tool</title>
</head>
<body>
    <h2>Submit Patient Details</h2>
    <form method="POST">
        Gender: <input name="gender" required><br><br>
        Forename: <input name="forename" required><br><br>
        Surname: <input name="surname" required><br><br>
        DOB Day: <input name="dob_day" required><br><br>
        DOB Month: <input name="dob_month" required><br><br>
        DOB Year: <input name="dob_year" required><br><br>
        Home Postcode: <input name="home_postcode" required><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
